:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3em;
  padding: 3em;
}

.card-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-around;
}

.card {
  width: calc(100% / 4);
  border: 1px solid gray;
  padding: 1em;
  text-align: center;
  height: 300px;
}

.card>img {
  width: 200px;
}